.card-list{
    background-color: #D8D8D8;
    background-color: #FAFAFA;
    margin-top: 1rem;
    width: 90vw;
}

button{
    height: 2.3rem;
    width: 2.5rem;
    color: white;
    background-color: #142F43;
    border-radius: 5px;
}

.large-btn{
    width: 100%;
}

@media screen and (min-width: 1000px){
    .card-list{
        max-width: 400px;
    }
}