<div class="card card-list border-0">
    <div class="card-body">
        <h5 class="card-title mb-3">{{taskListTitle  | uppercase }}</h5>
        <div *ngIf='taskListTitle == "todo"' class="mb-3">
            <button class="large-btn" *ngIf='showAddCardButton; else showNewCard'
                (click)="toggleAddCardButton()" 
                >Adicionar tarefa</button>

                <ng-template #showNewCard>
                    <form [formGroup] = "cardForm" (ngSubmit)="createCard()">
                      <div class="card mb-3">
                        <div class="card-header d-flex justify-content-between">
                            <input class="form-control" type="text" placeholder="Title" formControlName="title"/>
                        </div>
                        <div class="card-body">
                          <div class="card-text mb-3">
                            <textarea class="form-control" placeholder="Description" formControlName="description"></textarea>
                          </div>
                          <div class="d-flex justify-content-center">
                            <button class="me-3"(click)="toggleAddCardButton()">
                              <i class="bi bi-x-lg"></i>
                            </button>
                            <button type="submit">
                              <i class="bi bi-check2-all"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                </ng-template>
        </div>
        <app-card *ngFor="let card of cards" [card]="card" [currentList]="taskListTitle"></app-card>
    </div>
</div>