<div class="container mt-3">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h5>Login</h5>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="User" formControlName="user">
        <label for="floatingInput">User</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit">Login</button>
      </div>
  </form>
</div>