.form{
    display: block;
    margin: auto;
    width: 70vw;
}

h5{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

button{
    height: 2.3rem;
    width: 5rem;
    color: white;
    background-color: #142F43;
    border-radius: 5px;
}
